# --- SECURITY (CRITICAL) ---
# Không bao giờ đẩy file xác thực GCP lên Git
*.json
!project.json

# --- DATA (Dữ liệu trung gian & kết quả) ---
# Không đẩy dữ liệu Parquet và CSV lớn lên Git
*.parquet/
*.csv
# Ngoại trừ file mapping nếu bạn coi nó là một phần của logic
!mapping.csv

# --- LOGS ---
# Giữ các file log ở local để debug
*.log
pipeline.log

# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# --- IDE ---
.vscode/
.idea/
*.swp
*.swo

# --- OS ---
Thumbs.db
Desktop.ini
.DS_Store
test.ipynb

# --- AGENT / TEMP ---
.agent/
